{{ define "main" }}
<h1 class="sr-only">{{ .Site.Title }}</h1>
{{- $posts := where .Site.RegularPages "Section" "posts" -}}
{{- $filtered := slice -}}
{{- range $posts -}}
  {{- if not (in .Params.categories "weibo") -}}
    {{- $filtered = $filtered | append . -}}
  {{- end -}}
{{- end -}}
{{ $paginator := .Paginate $filtered }}
<div class="post-list">
    {{ range $idx, $page := $paginator.Pages }}
        {{ partial "post-card.html" (dict "page" $page "idx" $idx "paginator" $paginator) }}
    {{ end }}
</div>

{{ partial "pagination.html" $paginator }}
{{ end }}
