<header class="header">
    <div class="header-navigation">
        <div class="container">
            <div id="hamburger" aria-label="打开导航菜单" aria-expanded="false" aria-controls="menu"><span></span></div>

            <div class="nav-sitename">
                <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ .Site.BaseURL }}"{{ if .IsHome }} class="current_page_item"{{ end }}>首页</a></li>
                    {{ $cats := (index .Site.Data "kb-categories") }}
                    {{ range $cats }}
                    {{ $sec := $.Site.GetPage (printf "/%s" .name) }}
                    {{ if $sec }}
                    <li><a href="{{ $sec.Permalink }}"{{ if eq $.Section .name }} class="current_page_item"{{ end }}>{{ .title }}</a></li>
                    {{ end }}
                    {{ end }}
                    {{ $navPages := slice (dict "name" "guestbook" "label" "留言") }}
                    {{ range $navPages }}
                        {{ $page := site.GetPage (printf "/pages/%s" .name) }}
                        {{ if $page }}
                        <li><a href="{{ $page.Permalink }}">{{ .label }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </nav>

            <!-- 搜索框（移动端隐藏，通过汉堡菜单展示） -->
            <div class="search">
                <form method="get" action="/search" role="search">
                    <input type="text" id="search-input" name="s" class="search-input" placeholder="搜索..." aria-label="搜索">
                    <button type="submit" class="search-submit" aria-label="搜索">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="#999">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                        </svg>
                    </button>
                </form>
            </div>


        </div>
    </div>
</header>
