{{/* 输出分类名称，将英文分类名映射为中文显示名。兼容 categories 为字符串或数组两种格式。*/}}
{{ if . }}
  {{ $catNames := dict "guangan" "观感" "jilu" "记录" "weibo" "微语" }}
  {{ $cats := . }}
  {{ if not (reflect.IsSlice .) }}{{ $cats = (slice .) }}{{ end }}
  {{ range $i, $cat := $cats }}
    {{ if $cat }}
      {{ if $i }}, {{ end }}
      {{ $displayName := index $catNames $cat }}
      {{ if not $displayName }}{{ $displayName = $cat }}{{ end }}
      <a href="/categories/{{ $cat }}/">{{ $displayName }}</a>
    {{ end }}
  {{ end }}
{{ end }}
