<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-left">
                <span>
                    {{ $footerText := .Site.Params.footer_text }}
                    {{ if $footerText }}
                        {{ $footerText }}
                    {{ else }}
                        &copy; {{ with .Site.Params.builtYear }}{{ . }} &mdash; {{ end }}{{ now.Year }}
                    {{ end }}
                    {{ with .Site.Params.icp }}
                    &nbsp;|&nbsp;
                    <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{{ . }}</a>
                    {{ end }}
                </span>
            </div>
            <div class="footer-right">
                <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">开往-友链接力</a>&nbsp;&nbsp;&nbsp;
                <a href="https://webteleporter.top" target="_blank" rel="noopener" title="独立博客传送门">独立博客传送门</a>
                &nbsp;|&nbsp; Theme by <a href="https://www.pgoj.top/" target="_blank">xlxn</a>
            </div>
        </div>
    </div>
</footer>
