{{/* 图标库 partial - 使用 SVG Sprite
   用法：{{ partial "icons.html" (dict "name" "calendar" "width" 13 "height" 13) }}
   或直接：{{ partial "icons.html" "calendar" }}
*/}}
{{ $name := "" }}
{{ $width := 16 }}
{{ $height := 16 }}
{{ if reflect.IsMap . }}
  {{ $name = .name | default "" }}
  {{ $width = .width | default 16 }}
  {{ $height = .height | default 16 }}
{{ else }}
  {{ $name = . }}
{{ end }}

{{ $iconId := print "icon-" $name }}
<svg width="{{ $width }}" height="{{ $height }}" fill="currentColor">
  <use href="#{{ $iconId }}"></use>
</svg>
