{{/*
  partial: pagination.html
  参数: $paginator (paginator 对象)
*/}}
{{ $p := . }}
<div class="pagination">
    <ul class="pagination-list">
        {{ if $p.HasPrev }}
        <li class="prev"><a href="{{ $p.Prev.URL }}">&laquo;</a></li>
        {{ end }}
        {{ range $p.Pagers }}
        {{ $pageNum := .PageNumber }}
        {{ if eq $pageNum $p.PageNumber }}
        <li class="active"><span>{{ $pageNum }}</span></li>
        {{ else if or (le $pageNum 2) (ge $pageNum (sub $p.TotalPages 1)) (and (ge $pageNum (sub $p.PageNumber 2)) (le $pageNum (add $p.PageNumber 2))) }}
        <li><a href="{{ .URL }}">{{ $pageNum }}</a></li>
        {{ else if or (eq $pageNum (sub $p.PageNumber 3)) (eq $pageNum (add $p.PageNumber 3)) }}
        <li><span>...</span></li>
        {{ end }}
        {{ end }}
        {{ if $p.HasNext }}
        <li class="next"><a href="{{ $p.Next.URL }}">&raquo;</a></li>
        {{ end }}
    </ul>
</div>
